header {
    height: 53rem;
    margin-bottom: 12rem;
}

.hero--container {
    background-image: url("../../assets/images/slider-4.jpg");
    background-size: cover;
    background-position-y: 70%;
    /* background-attachment: fixed; */
    overflow: hidden;
    height: 53rem;
}
.hero-text {
    padding-top: 1rem;
}

.carousel-hotels-bg {
    background: linear-gradient(178deg, white 65%, #e9ecef 35%);
}
.blog-posts-top-text-bg, .blog-posts-wrapper-hotels-bg{
    background-color: #e9ecef;
}

.blog-posts--text p {
    color: rgb(83, 83, 83);
}